<%- include('../includes/head.ejs') %>

  </head>
  <body>
    <%- include('../includes/mini-header.ejs') %>

    <div class="outside-top-container">
      <!-- <a class="new-back-link" href="<%= backlink %>"><img src="/images/back-arrow.svg" alt=""></span> Back</a> -->
    </div>

    <div class="title-row container">
      <!-- <h1><%= title %></h1> -->
      <img src="/images/hugging-heart.svg" class="hugging-heart" alt="Hugging Heart">
    </div>

    <div class="container">


      <% if (flashMessage) {%>
        <h2><%= flashMessage %></h2>
      <% } %>

      <h3><a href="/" class="link">Go to the home page</a></h3>


    </div>
  </body>
</html>