<%- include('../includes/head.ejs') %>

  </head>
  <body class="login-page">
    <%- include('../includes/mini-header.ejs') %>
    <%- include('../includes/content-header-forms.ejs') %>

    <div class="form-container">

        <% if (reqMethod === 'POST') {
            if (errorMessage) {%> 
                <div class="error-wrapper">
                    <div class="activity__result activity__result-wrong">
                        <%= errorMessage %>
                    </div>
                </div>

            <% } %>
        <% } %>
        <% %>


        <form action="/new-password" method="POST" id="login-form">
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <div>
                <label for="password">Password:</label>
                <input  class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                 type="password" name="password" id="password" placeholder="Enter your new password"/>
                <!-- <% if (validationErrors.find(e => e.param === 'password')) { %> <img src="/images/answer-incorrect-x.svg"  class="form-error-icon" alt="Error icon"> <% } %> -->
                 
            </div>

            <div>
                <label for="pw2">Confirm Password:</label>
                <input class="<%= validationErrors.find(e => e.param === 'pw2') ? 'invalid' : '' %>"
                type="password" name="pw2" id="pw2" placeholder="Confirm new password" />
               <!--  <% if (validationErrors.find(e => e.param === 'pw2')) { %> <img src="/images/answer-incorrect-x.svg"  class="form-error-icon" alt="Error icon"> <% } %> -->
            </div>


            <div>
                <input type="submit" value="Update Password" class="btn btn-color"/>
            </div>
        </form>

    </div>
  </body>
</html>