<%- include('./includes/head.ejs') %>

  </head>
  <body class="terms-page">
    <%- include('./includes/mini-header.ejs') %>


    <div class="outside-top-container">
      <a class="new-back-link" href="<%= backlink %>"><img src="/images/back-arrow.svg" alt="Back Link Arrow"></span> Back</a>
      <% if (isAuthenticated) { %>

      <p class="settings-link">
        <a href="/settings"><%= teacherName %>: Settings 
          <img src="/images/settings-icon.svg" alt="Settings Icon">
        </a>
      </p>

      <% } %>

      <% %>
    </div>

    <div class="title-row container">
      <h1><%= title %></h1>
      <img src="/images/hugging-heart.svg" class="hugging-heart" alt="Hugging Heart">
    </div>

    <div class="container">

      

      <div class="terms-content">

        <h1>Terms & Conditions of use for the Social-Sexual Education Project.</h1>
        
        <p>The Social-Sexual Education Project is funded through the Mental Health Services Act in partnership with the
          Department of Developmental Services. The North Bay Regional Center is solely responsible for the content of the
          Social-Sexual Education Project and this website. The Department of Developmental Services has not developed,
          reviewed, endorsed, or approved the contents of the Project or the website, and is not a party to these terms and
          conditions.</p>
        
        <p><b>WARNING:</b> This website contains information of a sensitive nature, such as to raise the possibility that its
          content may trigger serious or adverse emotional reactions from the people utilizing its educational programs.
          Instructors and other users are, therefore, responsible for making those decisions as to whether the use of this
          learning tool is appropriate for the person accessing this site, a determination that must include consideration of
          the individual’s social-sexual experience, learning capabilities, and disability.</p>
        
        <p>Please read the following terms of the service agreement carefully. By accessing or using this site and the
          educational services it offers, you are agreeing to be bound by the terms and conditions described herein. It is your
          responsibility as a user to read the terms and conditions before you use this site. If, for any reason, you do not
          agree to all of the terms and conditions here set forth or object to them, then please do not access or use this site.
        </p>
        
        <h2>ACCEPTANCE OF TERMS AND CONDITIONS</h2>
        
        <h3>Introduction.</h3>
        <p>The following is a Service Agreement that is a legally binding agreement, which shall govern your use of this website
          and the relationship between the site’s users and others who may interact or interface with the Social-Sexual
          Education Project and its educational programs and the developers of this website and the North Bay Regional Center.
          This Agreement shall become effective upon its first date of publication as a website accessible through the internet.
        </p>
        
        <h3>Intellectual Property Rights.</h3>
        <p>Under these Terms and Conditions, the Social-Sexual Education Project, under the auspices of the North Bay Regional
          Center, and/or its licensors own all rights to the intellectual property and material contained in this Website, and
          all such rights are reserved. You are granted a limited license only, subject to the restrictions provided in these
          Terms and Conditions, for purposes of viewing the material contained on this website and utilizing the educational
          programs it provides.</p>


          <h3>No Warranties.</h3>
          <p>This website is provided “as is,” with all and any faults that may be found, and neither the developers of the Social-Sexual Education Project, nor the North Bay Regional Center make any expressed or implied representations or warranties of any kind related to this website or the materials contained and presented on this website. Additionally, nothing contained on this website shall be construed as providing consult or advice to the user or anyone gaining access to it.</p>

          <h3>Limitation of Liability.</h3>
          <p>In no event shall the developers of the Social-Sexual Education Project or the North Bay Regional Center, or any of its officers, directors, and employees, be liable to you for anything arising out of or in any way connected with your use of this website, whether such liability is under contract, tort, or otherwise. The North Bay Regional Center, including its officers, directors, and employees, shall not be liable for any indirect, consequential or special liability arising out of or in any way related to your use of this website. This limitation on liability is intended to be comprehensive in its coverage and all-encompassing in its effect and shall include, but not be limited to, any errors or omissions from any online services not included in the program, the unavailability or interruption of the website; the loss or corruption of any data or equipment in connection with this website, your use of the website, the content, accuracy, or completeness of the content of the website and any materials available through it, and any content retrieved from the internet that may be linked to this website.</p>

          <h3>Restrictions.</h3>
         <p>You are expressly and emphatically restricted from all of the following:</p>
          <ul>
            <li>• Publishing any website material in any media;</li>
            <li>• Selling, sublicensing and/or otherwise commercializing any website material;</li>
            <li>• Publicly performing and/or showing any website material without written permission to do so;</li>
            <li>• Using this website in any way that is, or may be, damaging to this website;</li>
            <li>• Using this website in any way that impacts user access to this website;</li>
            <li>• Using this website contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the website, or to any person or business entity;</li>
            <li>• Engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this website, or while using this website;</li>
            <li>• Using this website to engage in any advertising or marketing.</li>
          </ul>



          <h3>Indemnification.</h3>
          <p>You hereby indemnify to the fullest extent the developers of the Social-Sexual Education Project and the North Bay Regional Center, or any of its officers, directors, and employees from and against any and all liabilities, costs, demands, causes of action, damages, and expenses (including reasonable attorney’s fees) arising out of or in any way related to your breach of any of the provisions of these Terms and Conditions.</p>

          <h3>Severability.</h3>
          <p>If any provision of these Terms and Conditions is found to be unenforceable or invalid under any applicable law, such unenforceability or invalidity shall not render these Terms or Conditions unenforceable or invalid as a whole, and such provisions shall be deleted without affecting the remaining provisions herein.</p>

          <h3>Variation of Terms.</h3>
          <p>The developers of the Social-Sexual Education Project, following consultation with the North Bay Regional Center, are permitted to revise these Terms and Conditions at any time as it sees fit, and by using this website you are expected to review such Terms and Conditions on a regular basis to ensure you understand all terms and conditions governing use of this website.</p>

          <h3>Assignment.</h3>
          <p>The North Bay Regional Center shall be permitted to assign, transfer, and subcontract its rights and/or obligations under these Terms and Conditions without any notification or consent required. However, you, on the other hand, shall not be permitted to assign, transfer, or subcontract any of your rights and/or obligations under these Terms and Conditions.</p>

          <h3>Governing Law & Jurisdiction.</h3>
          <p>These Terms and Conditions will be governed by and construed in accordance with the laws of the State of California and you submit to the non-exclusive jurisdiction of the state and federal courts located in California for the resolution of any disputes.</p>


          <h3>Entire Agreement.</h3>
          <p>These Terms and Conditions, including any legal notices and disclaimers contained on this website, constitute the entire agreement between the developers of the Social-Sexual Education Project and the North Bay Regional Center, including any of its officers, directors, and employees, and you in relation to your use of this website, and supersede all prior agreements and understandings with respect to the same.</p>


      </div>

    </div>
    <%- include('./includes/footer.ejs') %>

  </body>
</html>